<nav>
    <ul>

        <li><a href="/"><i class="fas fa-head-side-cough"></i></a></li>
        <li><a href="/my-dev-squad">Users</a></li>
        <li><a href="/add-new-ironhacker">Add</a></li>
    </ul>
</nav>