<h1 class="title">Form</h1>
<form action="#" method="GET">
    <label for="userName">Name : </label>
    <input type="text" id="userName" name="userName" placeholder="Toto baz">
    <label for="userEmail">E-mail : </label>
    <input type="email" id="userEmail" name="userEmail" placeholder="dodo@mail.com">
    <label for="userFavoriteLanguage">Your Favorite Language : </label>
    <input type="text" name="userFavoriteLanguage" id="userFavoriteLanguage" placeholder="Favorite prog language">
    <button>Submit</button>
</form>
